body{background-color: rgb(238, 206, 200);}

#poni{background-color: rgb(255, 170, 248);
    border: 3px rosybrown solid; padding: 20px;
padding-left: 25px;}
#rj{background-color: rgb(236, 185, 140); 
    border: 3px rgb(247, 169, 101) solid; padding: 20xp; padding-left: 25px;}